.footer {
  background-color: black;
  color: white;
  height: 100vh;
  animation: fade-in 1s;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-to-top {
  font-size: 1em;
  float: left;
  left: 0;
  max-height: 3vh;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 40px;
  z-index: 1;
}

.back-to-top-div {
  height: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  margin: 0 1.25em;
  cursor: pointer;
}

.social-link p {
  font-size: 1em;
  margin: 0;
}

.social-links {
  display: flex;
  height: 50%;
  width: 100vw;
  justify-content: center;
}

.svg {
  height: 35px;
  width: 35px;
  background-color: white;
}

.instagram {
  mask: url("../assets/instagram.svg") no-repeat center;
}

.linkedin {
  mask: url("../assets/linkedin.svg") no-repeat center;
}

.github {
  mask: url("../assets/github.svg") no-repeat center;
}

.links td {
  padding: 0 1em 0 0;
  font-size: 1.1em;
  text-transform: uppercase;
}

.copyright {
  font-size: 0.75em;
  opacity: 0.7;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
