.footer {
  display: flex;

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 1.25em;
    //cursor: pointer;
    padding: 3px;
    border: solid 1px #70707073;
    border-radius: 10px;
    transition: 0.3s;
  }

  .social-link:hover {
    transition: 0.3s;
    box-shadow: #f4aae5 0 0 30px;
  }

  .svg {
    height: 20px;
    width: 20px;
    background-color: #919191;
    // margin-top: 30px;
  }

  .instagram {
    mask: url("../assets/instagram.svg") no-repeat center;
  }

  .linkedin {
    mask: url("../assets/linkedin.svg") no-repeat center;
  }

  .github {
    mask: url("../assets/github.svg") no-repeat center;
  }
}

@media (max-width: 575.98px) {
  .footer {
    .social-link {
      border: none;
      margin: 0 10px;
    }
  }
}
