.landing-page-parent {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  overflow: hidden;
  animation: background-change 1s ease-in-out;
  animation-fill-mode: forwards;
  background-color: #f5f5f5;
  padding: 0 100px 0 40px;

  .footer-div {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
  }

  .landing-text-area {
    height: fit-content;
    z-index: 3;
    transition-duration: 1s;
    transition: 2s;

    .large-text {
      font-family: Lora;
      margin-left: -220px;
    }

    h2 {
      font-weight: 100;
      max-width: 429px;
      line-height: 50px;
      margin-left: 40px;
      letter-spacing: 0.5px;
    }
  }
  .buttons {
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    .gradient-button {
      cursor: none;
      display: flex;
      width: 180px;
      height: 30px;
      padding: 10px 20px;
      background: linear-gradient(141deg, #4192ff 0%, #f4aae5 100%);
      border-radius: 10px;
      align-items: center;
      justify-content: space-between;
      margin: 0 10px 10px 0;
      transition: 0.3s;

      p {
        color: white;
        font-weight: 300;
      }
    }

    .gradient-button:hover {
      transition: 0.3s;
      transform: rotate(-10deg);
    }

    .outline-button {
      cursor: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 30px;
      padding: 8px 19px;
      border: #c96cb6 solid 2px;
      border-radius: 10px;
      transition: 0.3s;
      background: none;

      p {
        color: #c96cb6;
        font-weight: 300;
      }
    }

    .outline-button:hover {
      transition: 0.3s;
      transform: rotate(-15deg);
    }
  }

  .graphic {
    height: fit-content;
    max-width: 50vw;
  }

  .mobile-click-to-menu {
    display: none;
  }
}

.tap-anywhere {
  display: none;
  animation: bounce-3 2s infinite ease;
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  // 50% {
  //   transform: translateY(0);
  // }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1199.98px) {
  .landing-page-parent {
    padding: 0 40px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
  .landing-page-parent {
    padding: 0 60px;
    .landing-text-area {
      .large-text {
        margin-left: 0;
      }

      h2 {
        margin-left: 0;
      }
    }
    .graphic {
      display: none;
    }
    .buttons {
      margin-left: 0;
      .gradient-button {
        width: 140px;
      }
    }
  }
}

@media (max-width: 767.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  .landing-page-parent {
    padding: 0 40px;
    .landing-text-area {
      .large-text {
        margin: 0;
      }
      h2 {
        line-height: 40px;
        margin: 30px 0;
      }
    }
    .buttons {
      .gradient-button {
        width: 145px;
        height: 40px;
        padding: 6px 15px;
      }

      .outline-button {
        padding: 4px 0px;
        height: 40px;
        width: 170px;
      }
    }
  }
}
