.menu {
  background-color: black;
  //   transition: background-color 1s linear;
  animation: background-fade-in 1s forwards;
  padding-right: calc(var(--mobile-padding) * 2);
  height: 100vh;
  //   width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    color: #69ff7a;
    text-decoration: none;
  }

  .text {
    color: #69ff7a;
    text-align: right;
    z-index: 10;

    h1 {
      margin: 0;
      font-weight: 400;
      font-size: calc(var(--h1) * 0.75);
    }
  }
}
.mobile-click-to-main {
  z-index: 9;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.tap-anywhere-menu {
  display: unset;
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  bottom: 30px;
  font-size: 10px;
  font-weight: 200;
  animation: bounce-3 2s infinite ease;
}

@keyframes background-fade-in {
  0% {
    background-color: white;
  }

  100% {
    background-color: black;
  }
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  // transition-delay: 600ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 0.4s;
}
