.project {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0 0 0 100px;
}

.flipped {
  flex-direction: row-reverse;
  padding: 0 100px 0 0;
}

.flipped .screenshot-div {
  margin: 0;
}

.project-title {
  text-align: left;
  width: 37vw;
  margin: 0;
  letter-spacing: -1px;
}

.project-caption {
  text-align: left;
  width: 37vw;
  margin: 0.6em 0;
}

.screenshot-div {
  width: 100vw;
}

.favebiz-view-more {
  margin-top: 0.5em;
}

.screenshot {
  border-radius: 0.7em 0 0 0.7em;
  box-shadow: 3px 3px 9px 2px #8888887a;
  margin: 0 0 0 7em;
  height: 100%;
  max-height: 70vh;
  float: right;
}

.left {
  float: left;
  border-radius: 0 0.7em 0.7em 0;
  margin: 0 7em 0 0;
}

@media screen and (max-width: 580px) {
  .project {
    flex-direction: column-reverse;
    padding: 0 40px 0 40px;
    justify-content: center;
    margin-bottom: 3em;
  }

  .screenshot {
    width: 90%;
    margin: 0;
    border-radius: 0.7em;
    float: none;
  }

  .project-text,
  .project-title,
  .project-caption {
    width: 100%;
  }

  .project-text {
    margin-top: 25px;
  }

  .flipped {
  }
}
