.values-div-parent {
  padding: 0 80px 0 80px;
  color: white;
  display: flex;
  align-items: center;
}

.values-title {
  text-align: left;
  padding-top: 3em;
}

.breathe {
  font-weight: 100;
  animation-delay: 1s;
  animation: breathe 4s infinite ease-in-out;
  animation-fill-mode: forwards;
}

.value {
  margin: 2em 0 1em 0;
  text-align: left;
  font-size: 5em;
  color: black;
  letter-spacing: -2px;
}

.value-caption {
  text-align: left;
  font-size: 2.5em;
  width: 70vw;
}

.line {
  margin: 0;
}

@keyframes breathe {
  0% {
    letter-spacing: 0px;
  }

  20% {
    letter-spacing: 5px;
  }

  50% {
    letter-spacing: 0px;
  }

  100% {
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 580px) {
  .values-div-parent {
    padding: 0 40px 0 40px;
    height: 100vh;
  }

  .value {
    letter-spacing: -1px;
    overflow-wrap: break-word;
    font-size: 3em;
    margin: 0;
  }
}

@media screen and (max-width: 430px) {
  .value {
    font-size: 2.5em;
  }
}
