@import "./styles/global/css-variables.scss";

.App {
}

a {
  text-decoration: none;
  color: unset;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #539dff;
  width: 0%;
  height: 100%;
  z-index: 10;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 20;
  pointer-events: none;
}

.get-a-laptop {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: white;
    text-align: center;
  }

  img {
    max-width: 90vw;
  }

  .alright {
    background: white;
    padding: 10px;
    border-radius: 5px;
    p {
      color: black;
      margin: 0;
      font-weight: 300;
      text-align: center;
    }
  }
}

@font-face {
  font-family: Manrope;
  font-weight: 100;
  src: url("./assets/fonts/manrope/Manrope-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: Manrope;
  font-weight: 150;
  src: url("./assets/fonts/manrope/Manrope-Light.otf") format("opentype");
}

@font-face {
  font-family: Manrope;
  font-weight: 200;
  src: url("./assets/fonts/manrope/Manrope-Regular.otf") format("opentype");
}

@font-face {
  font-family: Manrope;
  font-weight: 300;
  src: url("./assets/fonts/manrope/Manrope-Medium.otf") format("opentype");
}

@font-face {
  font-family: Manrope;
  font-weight: 400;
  src: url("./assets/fonts/manrope/Manrope-Bold.otf") format("opentype");
}

@font-face {
  font-family: Manrope;
  font-weight: 450;
  src: url("./assets/fonts/manrope/Manrope-ExtraBold.otf") format("opentype");
}

//LORA
@font-face {
  font-family: Lora;
  font-weight: 100;
  src: url("./assets/fonts/lora/Lora-Regular.ttf") format("truetype");
}

body {
  font-family: "Manrope";
}

h1 {
  font-size: var(--h1);
  font-weight: 300;
}

h2 {
  font-size: var(--h2);
  font-weight: 300;
}

p {
  font-size: var(--p);
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.75;
}

.container {
  padding: 40px;
  background: #419be0;
}

#logo {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  transition: 0.7s;

  p {
    color: #434343;
    font-weight: 300;
    margin: 0;
  }
}

.slick-slide img {
  margin: auto;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 0.4s;
}

.navigation {
  margin: 50px 0;
  .home {
    color: #9f9f9f;
    cursor: none;
    transition: 0.3s;
  }

  .home:hover {
    color: #4192ff;
    cursor: none;
    transition: 0.3s;
  }
  p {
    font-weight: 150;
  }
}

@media (max-width: 1199.98px) {
  #logo {
    display: none;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  h1 {
    font-size: calc(var(--h1) * 0.75);
  }
  h2 {
    font-size: calc(var(--h2) * 0.75);
    line-height: 40px;
  }

  p {
    font-size: calc(var(--p) * 0.75);
  }

  .hamburger-menu {
    display: inline;
  }
}
