.App {
  text-align: center;
}
@font-face {
  font-family: Manrope;
  src: url("./assets/fonts/Manrope-Regular.otf") format("opentype");
}
@font-face {
  font-family: Manrope;
  font-weight: light;
  src: url("./assets/fonts/Manrope-Light.otf") format("opentype");
}

@font-face {
  font-family: Manrope;
  font-weight: 500;
  src: url("./assets/fonts/Manrope-Medium.otf") format("opentype");
}
@font-face {
  font-family: Manrope;
  font-weight: bold;
  src: url("./assets/fonts/Manrope-Bold.otf") format("opentype");
}

body {
  font-family: "Manrope";
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
}

.container {
  padding: 40px;
  background: #419be0;
}

.slick-slide img {
  margin: auto;
}
